<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenBankingApiTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OpenBankingApiTester.Properties.Settings>
            <setting name="QWACFile" serializeAs="String">
                <value />
            </setting>
            <setting name="QSEALFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestUrl" serializeAs="String">
                <value>https://somebank.com:444/psd2/v1/consents</value>
            </setting>
            <setting name="RequstBody" serializeAs="String">
                <value>{
  "access": {
    "accounts": []
  },
  "recurringIndicator": false,
  "validUntil": "2021-01-01",
  "frequencyPerDay": 1,
  "combinedServiceIndicator": false
}</value>
            </setting>
        </OpenBankingApiTester.Properties.Settings>
    </userSettings>
</configuration>